<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.usercenteradmin.repository.MenuMapper">
  <resultMap id="BaseResultMap" type="com.zy.usercenteradmin.entity.Menu">
    <!--@mbg.generated-->
    <!--@Table menu-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="resource_name" jdbcType="VARCHAR" property="resourceName" />
    <result column="resource_type" jdbcType="VARCHAR" property="resourceType" />
    <result column="resource_uri" jdbcType="VARCHAR" property="resourceUri" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="lydz" jdbcType="VARCHAR" property="lydz" />
    <result column="zjlj" jdbcType="VARCHAR" property="zjlj" />
    <result column="is_enabled" jdbcType="TINYINT" property="isEnabled" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, pid, resource_name, resource_type, resource_uri, icon, permission, lydz, zjlj, 
    is_enabled, gmt_create, gmt_modified, sort
  </sql>
</mapper>